#bg {
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
    height: 100%;
    left: 0;
    opacity: 0.25;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
#bg div {
    -moz-transition: opacity 3s ease, visibility 3s;
    -webkit-transition: opacity 3s ease, visibility 3s;
    -ms-transition: opacity 3s ease, visibility 3s;
    transition: opacity 3s ease, visibility 3s;
    background-size: cover;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 150%;
}

#bg div.visible {
    -moz-animation: bg 45s linear infinite;
    -webkit-animation: bg 45s linear infinite;
    -ms-animation: bg 45s linear infinite;
    animation: bg 45s linear infinite;
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

#bg div.visible.top {
    z-index: 2;
}

@media screen and (max-width: 1280px) {

    #bg div.visible {
        -moz-animation: bg 29.25s linear infinite;
        -webkit-animation: bg 29.25s linear infinite;
        -ms-animation: bg 29.25s linear infinite;
        animation: bg 29.25s linear infinite;
    }

}

@media screen and (max-width: 736px) {

    #bg div.visible {
        -moz-animation: bg 18s linear infinite;
        -webkit-animation: bg 18s linear infinite;
        -ms-animation: bg 18s linear infinite;
        animation: bg 18s linear infinite;
    }

}

#bg div:only-child {
    -moz-animation-direction: alternate !important;
    -webkit-animation-direction: alternate !important;
    -ms-animation-direction: alternate !important;
    animation-direction: alternate !important;
}

body.is-loading #bg {
    opacity: 0;
}

@-moz-keyframes bg {
    0% {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -moz-transform: translateX(-25%);
        -webkit-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
        transform: translateX(-25%);
    }
}

@-webkit-keyframes bg {
    0% {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -moz-transform: translateX(-25%);
        -webkit-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
        transform: translateX(-25%);
    }
}

@-ms-keyframes bg {
    0% {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -moz-transform: translateX(-25%);
        -webkit-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
        transform: translateX(-25%);
    }
}

@keyframes bg {
    0% {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -moz-transform: translateX(-25%);
        -webkit-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
        transform: translateX(-25%);
    }
}